*{
margin:0px ;
padding: 0px;

}

.cabeçalho {
    background-color: #867070;
    color: #ffffff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    text-align: center;
    display: flex;
    justify-content: space-around;
  }

    .lista {
    background-color: #D5B4B4;
    display:flex;
    font-size: 30px;
    padding: 100px;
    
     }

     .promo {
      background-color: #D5B4B4;
      display: flex;


     }

     .tituloqualdelícia {
      font-size: 50px;
      text-align: center;
      display: flex;

     }

     .paragrafos {
      display: inline-block;
      font-size: 30px;

     }

     .imagemtorta {
      width: 300px;
      right: 300px;
      display: flex;
      margin: auto;
    
     }

